<app-navbar-cliente></app-navbar-cliente>
<div class="container-fluid">
  <div class="card">
    <div class="card-header">
      <h3 class="text-center text-primary">Libros Registrados</h3>
    </div>
    <div class="card-body text-center table-responsive">

      <table *ngIf="librosRegistrados.length > 0" class="table table-striped">
        <thead>
          <tr>
            <th>Isbn</th>
            <th>Titulo</th>
            <th>Autor</th>
            <th>Editorial</th>
            <th>Fecha de Publicación</th>
            <th>Opciones</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let libro of librosRegistrados">
            <td>{{libro.isbn}}</td>
            <td>{{libro.autor}}</td>
            <td>
              <a [routerLink]="['/verLibro',1]"> {{libro.titulo}} </a>
            </td>
            <td>{{libro.editorial}}</td>
            <td>{{libro.fechaPublicacion}}</td>
            <td><button class="btn btn-primary">Pedir</button></td>

          </tr>
        </tbody>
      </table>
      <div *ngIf="librosRegistrados.length == 0" class="row mt5">
        <h5>No hay Libros Registrados</h5>
      </div>
    </div>
  </div>
</div>