<app-navbar-cliente></app-navbar-cliente>
<section class="vh-100" style="background-color: #2714cc;">
    <div class="container py-5 h-100">
        <div class="d-flex justify-content-center h-100">
            <div class="col col-xl-10">
                <div class="card" style="border-radius: 1rem; max-height: 500px; overflow: scroll; ">

                    <div class="card-header text-center">
                        <h3 class="header text-primary">Modificar Datos</h3>
                        <span class="h6 fw-bold mb-0 text-center">Ingrese sus datos personales</span>
                    </div>
                    <div class="row g-0 ">
                        <div class="col-md-6 col-lg-5 d-none d-md-block">
                            <img src="https://s2.best-wallpaper.net/wallpaper/iphone/1712/Library-many-books-path_iphone_640x960.jpg"
                                alt="login form" class="img-fluid" />
                            <div class="col-md-6 col-lg-7 d-flex p-4">
                                <p class="mb-5 pb-lg-2" style="color: #393f81;">Pagina principal<a
                                        routerLink="/libros" class="btn btn-success">index</a></p>
                            </div>

                        </div>
                        <div class="col-md-6 col-lg-7 d-flex">
                            <div class="card-body text-black ">
                                <form [formGroup]="modificar" (ngSubmit)="registro()">

                                    <label for="nombre">Nombres</label>
                                    <div class="form-group text-center">
                                        <span class="col-md-1 col-md-offset-2 text-center"><i
                                                class="fa fa-user bigicon"></i></span>
                                        <div class="col-md-8">

                                            <input id="nombre" formControlName="nombre" type="text"
                                                placeholder="Ingrese su nombre" class="form-control">
                                            <span
                                                *ngIf="modificar.get('nombre')?.invalid && modificar.get('nombre')?.touched"
                                                class="text-danger">
                                                *El <strong>Nombre</strong> es un campo requerido
                                            </span>
                                        </div>
                                    </div>
                                    <label for="apellido">Apellidos</label>

                                    <div class="form-group">
                                        <span class="col-md-1 col-md-offset-2 text-center"><i
                                                class="fa fa-user bigicon"></i></span>
                                        <div class="col-md-8">
                                            <input id="apellido" formControlName="apellido" type="text"
                                                placeholder="Apellido de Usuario" class="form-control">
                                            <span
                                                *ngIf="modificar.get('apellido')?.invalid && modificar.get('apellido')?.touched"
                                                class="text-danger">
                                                *El <strong>Apellido</strong> es un campo requerido
                                            </span>
                                        </div>
                                    </div>
                                    <label for="cc">Cédula</label>

                                    <div class="form-group">
                                        <span class="col-md-1 col-md-offset-2 text-center"><i
                                                class="fa fa-user bigicon"></i></span>
                                        <div class="col-md-8">
                                            <input id="cc" formControlName="cc" type="number"
                                                placeholder="Cedula de Usuario" class="form-control">
                                            <span *ngIf="modificar.get('cc')?.invalid && modificar.get('cc')?.touched"
                                                class="text-danger">
                                                *La <strong>Cedula</strong> es un campo requerido
                                            </span>
                                        </div>
                                    </div>
                                    <label for="direccion">Dirección</label>

                                    <div class="form-group">
                                        <span class="col-md-1 col-md-offset-2 text-center"><i
                                                class="fa fa-user bigicon"></i></span>
                                        <div class="col-md-8">
                                            <input id="direccion" formControlName="direccion" type="text"
                                                placeholder="Direccion de Usuario" class="form-control">
                                            <span
                                                *ngIf="modificar.get('direccion')?.invalid && modificar.get('direccion')?.touched"
                                                class="text-danger">
                                                *La <strong>Direccion</strong> es un campo requerido
                                            </span>
                                        </div>
                                    </div>
                                    <label for="telefono">Celular / Teléfono</label>

                                    <div class="form-group">
                                        <span class="col-md-1 col-md-offset-2 text-center"><i
                                                class="fa fa-user bigicon"></i></span>
                                        <div class="col-md-8">
                                            <input id="telefono" formControlName="telefono" type="number"
                                                placeholder="Telefono de Usuario" class="form-control">
                                            <span
                                                *ngIf="modificar.get('telefono')?.invalid && modificar.get('telefono')?.touched"
                                                class="text-danger">
                                                *El <strong>Telefono</strong> es un campo requerido
                                            </span>
                                        </div>
                                    </div>
                                    <label for="email">Correo Electrónico</label>

                                    <div class="form-group">
                                        <span class="col-md-1 col-md-offset-2 text-center"><i
                                                class="fa fa-user bigicon"></i></span>
                                        <div class="col-md-8">
                                            <input id="email" formControlName="email" type="email"
                                                placeholder="Email de Usuario" class="form-control">
                                            <span
                                                *ngIf="modificar.get('email')?.invalid && modificar.get('email')?.touched"
                                                class="text-danger">
                                                *El <strong>Email</strong> es un campo requerido
                                            </span>
                                        </div>
                                    </div>
                                    <label for="user">Usuario</label>

                                    <div class="form-group">
                                        <span class="col-md-1 col-md-offset-2 text-center"><i
                                                class="fa fa-user bigicon"></i></span>
                                        <div class="col-md-8">
                                            <input id="user" formControlName="user" type="text"
                                                placeholder="Ingrese un Usuario" class="form-control">
                                            <span
                                                *ngIf="modificar.get('user')?.invalid && modificar.get('user')?.touched"
                                                class="text-danger">
                                                *El <strong>Usuario</strong> es un campo requerido
                                            </span>
                                        </div>
                                    </div>
                                    <label for="password">Ingrese una contraseña</label>

                                    <div class="form-group">
                                        <span class="col-md-1 col-md-offset-2 text-center"><i
                                                class="fa fa-user bigicon"></i></span>
                                        <div class="col-md-8">
                                            <input id="password" formControlName="password" type="password"
                                                placeholder="Contraseña de Usuario" class="form-control">
                                            <span
                                                *ngIf="modificar.get('direccion')?.invalid && modificar.get('password')?.touched"
                                                class="text-danger">
                                                *La <strong>Contraseña</strong> es un campo requerido
                                            </span>
                                        </div>
                                    </div>
                                    <label for=""></label>
                                    <div class="form-group">
                                        <div class="pt-1 mb-4">
                                            <button type="submit" class="btn btn-dark btn-lg btn-primary"
                                                [disabled]="modificar.invalid">Modificar</button>
                                        </div>
                                    </div>
                                </form>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>