<app-navbar-cliente></app-navbar-cliente>
<section class="vh-100" style="background-color: #2714cc;">
    <div class="container py-5 h-100">
        <div class="d-flex justify-content-center h-100">
            <div class="col col-xl-10">
                <div class="card" style="border-radius: 1rem; max-height: 500px; overflow: scroll; ">

                    <div class="card-header text-center">
                        <h3 class="header text-primary">Visualizar Datos</h3>
                        <span class="h6 fw-bold mb-0 text-center">Información del libro</span>
                    </div>
                    <div class="row g-0 ">
                        <div class="col-md-6 col-lg-5 d-none d-md-block">
                            <img src="https://images.cdn3.buscalibre.com/fit-in/360x360/67/a7/67a7e4d7b304b9bc7e5932fc687a8338.jpg
                            " alt="login form" class="img-fluid" />
                            <div class="col-md-6 col-lg-7 d-flex p-4">
                                <p class="mb-5 pb-lg-2" style="color: #393f81;">Pagina principal<a routerLink="/libros"
                                        class="btn btn-success">index</a></p>
                            </div>

                        </div>
                        <div class="col-md-6 col-lg-7 d-flex">
                            <div class="card-body text-black ">
                                <form>
                                    <label class="text-primary" for="cc">ISBN</label>

                                    <div class="form-group">
                                        <div class="col-md-8">
                                            9789588886183
                                        </div>
                                    </div>
                                    <label class="text-primary" for="titulo">Titulo</label>
                                    <div class="form-group text-center">
                                        <div class="col-md-8">
                                            Noticia de un secuestro
                                        </div>
                                    </div>
                                    <label class="text-primary" for="autor">Autor</label>
                                    <div class="form-group">
                                        <div class="col-md-8">
                                            Gabriel Garcia Marquez
                                        </div>
                                    </div>
                                    <label class="text-primary" for="editorial">Editorial</label>
                                    <div class="form-group">
                                        <div class="col-md-8">
                                        Delbolsillo
                                        </div>
                                    </div>
                                    <label class="text-primary" for="fechaPublicacion">Fecha de Publicacion</label>
                                    <div class="form-group">
                                        <div class="col-md-8">
                                            09-02-2014
                                        </div>
                                    </div>
                                    <br>
                                    <label class="text-primary" for="descripcion">Descripcion del libro</label>
                                    <p class="card-text text-center">Noticia de un secuestro es un libro del colombiano
                                        Gabriel García Márquez.​ Está basado en la historia real del secuestro de
                                        figuras prominentes de Colombia durante la época del narcoterrorismo a inicios
                                        de los años noventa con la autoría de Los Extraditables</p>

                                    <label for=""></label>
                                    <div class="form-group">
                                        <div class="pt-1 mb-4">
                                            <button type="submit" class="btn btn-dark btn-lg btn-primary">Pedir</button>
                                        </div>
                                    </div>
                                </form>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>