<section class="vh-100" style="background-color: #2714cc;">
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col col-xl-10">
        <div class="card" style="border-radius: 1rem; max-height: 500px; overflow: scroll;">
          <div class="row g-0">
            <div class="col-md-6 col-lg-5 d-none d-md-block">
              <img src="https://s2.best-wallpaper.net/wallpaper/iphone/1712/Library-many-books-path_iphone_640x960.jpg"
                alt="login form" class="img-fluid"  />
            </div>
            <div class="col-md-6 col-lg-7 d-flex align-items-center">
              <div class="card-body p-4 p-lg-5 text-black">

                <form [formGroup]="iniciarSesion" (ngSubmit)="loggear()">

                  <div class="d-flex align-items-center mb-3 pb-1">
                    <i class="fas fa-cubes fa-2x me-3" style="color: #ff6219;"></i>
                    <span class="h1 fw-bold mb-0">Logo</span>
                  </div>

                  <h5 class="fw-normal mb-3 pb-3" style="letter-spacing: 1px;">Sign into your account</h5>

                  <div class="mb-3">
                    <input type="text" id="user" formControlName="user" class="form-control" />
                    <span *ngIf="iniciarSesion.get('user')?.invalid && iniciarSesion.get('user')?.touched"
                      class="text-danger">
                      *El <strong>Usuario</strong> es un campo requerido
                    </span>
                    <label class="form-label" for="user">Usuario</label>
                  </div>

                  <div class="form-outline mb-4">
                    <input type="password" id="password" formControlName="password"
                      class="form-control form-control-lg" />
                    <span *ngIf="iniciarSesion.get('password')?.invalid && iniciarSesion.get('password')?.touched"
                      class="text-danger">
                      *La <strong>Contraseña</strong> es un campo requerido
                    </span>
                    <label class="form-label" for="password">Password</label>
                  </div>

                  <div class="pt-1 mb-4">
                    <button class="btn btn-dark btn-lg btn-block" type="submit" [disabled]="iniciarSesion.invalid"
                      routerLink="/libros">Login</button>
                  </div>
                  <hr>
                  <p class="mb-5 pb-lg-2" style="color: #393f81;">Don't have an account? <a routerLink="/registro"
                      class="btn btn-success">Register here</a></p>
                </form>

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>