<nav class="navbar navbar-expand-lg navbar dark bg-primary">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">Navbar</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" routerLink="/libros">LIBROS</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/listarPedidos">Mis Pedidos</a>
          </li>          
        </ul>        
      </div>
      
      <li class="nav-item">
        <a class="nav-link active" aria-current="page" routerLink="/modificar">Modificar Datos</a>
      </li>
      <li class="pt-1 mb-4">
        <a class="btn btn-dark btn-lg btn-block" routerLink="/adminLibros">Mirar como Administrador</a>
      </li>
      
    </div>
  </nav>